
<div class="card">
  <h4 class="card-header">New Friend</h4>
  <div class="card-body">
    <h5 class="card-title"><%= render "form", friend: @friend %>

    <br>

    <div>
      <%= link_to "Back", friends_path, class:"btn btn-dark" %>
    </div>
</h5>
  </div>
</div>
